@model WedSiteBanHang.Models.Quyen

@{
    ViewBag.Title = "ThemQuyen";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Quản lý quyền</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="MaQuyen">Mã Quyền</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaQuyen, new { htmlAttributes = new { @class = "form-control", @style = "width: 20%" } })
                @Html.ValidationMessageFor(model => model.MaQuyen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MaQuyen">Tên Quyền</label>

            <div class="col-md-10" >
                @Html.EditorFor(model => model.TenQuyen, new { htmlAttributes = new { @class = "form-control", @style="width: 20%" } })
                @Html.ValidationMessageFor(model => model.TenQuyen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm quyền" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
