@using WedSiteBanHang.Models;
@model DonDatHang
@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<h2>Thông tin đơn hàng <font color="#f65e84">@Model.KhachHang.TenKH</font> </h2>
<br /><br />
@using (Html.BeginForm())
{
   <div class="ChiTietDonHang table">
       @{ IEnumerable<ChiTietDonDatHang> lstChiTietDH = (IEnumerable<ChiTietDonDatHang>)ViewBag.ListChiTietDH;}
       <table class="table" id="table">
           @*Phần thông tin đơn hàng*@
           <tr>
               <td colspan="4">
                   <table style="width:100%;">
                       <tr>
                           <td>Mã đơn hàng: <b style="color:red;"> @Model.MaDDH @Html.Hidden("MaDDH", @Model.MaDDH)</b></td>
                           <td>Mã khách hàng: <b style="color:red;"> @Model.KhachHang.MaKH </b></td>
                           <td>Tên khách hàng: <b style="color:red;"> @Model.KhachHang.TenKH </b></td>
                           <td>Ngày đặt: @Model.NgayDat.Value.ToString("dd/MM/yyyy")</td>
                           <td> Đã thanh toán @Html.EditorFor(model => model.DaThanhToan)</td>
                           <td> Đã giao @Html.EditorFor(model => model.TinhTrangGiaoHang)</td>
                        </tr>
                   </table>
               </td>
           </tr>
           @*Thông tin chi tiết đơn hàng*@
           <tr>
               <td><b>Sản phẩm</b></td>
               <td><b>Hình ảnh</b></td>
               <td><b>Số lượng đặt</b></td>
               <td><b>Đơn giá đặt</b></td>
           </tr>
           @foreach (var item in lstChiTietDH)
           {
               <tr>
                   <td>@item.SanPham.TenSP</td>
                   <td><img width="150" height="50" src="@Url.Content("~/Content/images/"+item.SanPham.HinhAnh)"  /></td>
                   <td>@item.SoLuong</td>
                   <td>@item.DonGia</td>
               </tr>
           }
           <tr>
               <td align="right" colspan="4">Tổng số lượng: @Model.ChiTietDonDatHangs.Sum(n =>n.SoLuong) sản phẩm</td>
           </tr>
           <tr>
               <td align="right" colspan="4">Tổng tiền: @Model.ChiTietDonDatHangs.Sum(n => n.SanPham.DonGia).Value.ToString("#,##") đồng </td>
           </tr>
       </table>
       <br /><br />
       <input type="button" value="In đơn hàng" id="btnInDonHang" />
       <input type="submit" value="Lưu đơn hàng" id="btnInDonHang" />
   </div>

           }

<script>
    $("#btnInDonHang").click(function () {
        var content = "<table>" + $("#table").html() +"</table>";
        InDonHang(content);

    });
    //Phương thức in
    function InDonHang(content)
    {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>


