@using WedSiteBanHang.Models
@model List<ItemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
@if(Model == null || Model.Count == 0)
{
    <h1 style="color:#000">Giỏ hàng rỗng</h1>
}
else
{
    <div class="col-md-9 grid-top">
        <table class="table">
            <tr>
                <td>Mã SP</td>
                <td>Tên SP</td>
                <td>Hình ảnh</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content("~/Content/images/"+item.HinhAnh)" width="50" height="50" /></td>
                    <td>@item.SoLuong</td>
                    <td>@item.DonGia.ToString("#,##") đồng</td>
                    <td>@item.ThanhTien.ToString("#,##")</td>
                    <td>
                        @Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })
                        @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })
                    </td>
                </tr>
            }
        </table>

        @using (Html.BeginForm("DatHang", "GioHang"))
        {
            if(Session["TaiKhoan"] == null)
            {
            @*Thiết kế form lưu thông tin khách hàng đối với khách hàng chưa có tài khoản*@

            <div class="ThongTinMuaHang">
                <table align="center" class="table">
                    <tr>
                        <td align="center" colspan="2"><b>Thông tin khách hàng</b></td>
                    </tr>
                    <tr>
                        <td>Họ tên</td>
                        <td>
                            @Html.TextBox("TenKH")
                            <p style="color:red;" id="TB_TenKH"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Địa chỉ
                        </td>
                        <td>
                            @Html.TextArea("DiaChi")
                            <p style="color:red;" id="TB_DiaChi"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            @Html.TextBox("Email")
                            <span  style="color:red;" id="TB_Email"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Điện thoại
                        </td>
                        <td>
                            @Html.TextArea("SoDienThoai")
                        </td>
                    </tr>
                    
                </table>
                
            </div>
            @*Kiểm tra validation thông qua jquery*@
                <div class="divDatHang" style="text-align:right;">
                    <input type="submit" value="Đặt hàng" class="btn btn-primary" id="btnDatHang" />
                    @Html.ActionLink("Mua tiếp", "Index", "Home", new { @class = "btn btn-success" })
                </div>
            }
            else
            {
                <div class="divDatHang" style="text-align:right;">
                    <input type="submit" value="Đặt hàng" class="btn btn-primary" />
                    @Html.ActionLink("Mua tiếp", "Index", "Home", new { @class = "btn btn-success" })
                </div>
            }

        }

    </div>

}
<script>
       $("#btnDatHang").click(function () {
        var loi = 0;
        if($("#TenKH").val() == "")
        {
            $("#TB_TenKH").text("Tên khách hàng không được bỏ trống")
            // Ngăn sự kiện submi đến server
            loi++;
        }
        else
        {

            $("#TB_TenKH").text("")
        }
        if ($("#DiaChi").val() == "") {
            $("#TB_DiaChi").text("Địa chỉ không được bỏ trống")
            // Ngăn sự kiện submi đến server
            loi++;
        }
        else {

            $("#TB_DiaChi").text("")
        }
        var loi;
        dinhdang = /^[0-9A-Za-z]+[0-9A-Za-z_]*@@[\w\d.]+\.\w{2,4}$/;
        KTemail = dinhdang.test($('#Email').val());
        if (!KTemail) {
            $('#TB_Email').text("Email không hợp lệ");
            loi++;
        }
        if(loi != 0)
        {
            return false;
        }
    });

</script>
<style>

    
element.style {
}
input[type="submit"] {
    
    padding: 7px;
   margin: 0;
}

}
</style>




