@using WedSiteBanHang.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>

@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@*Form tim kiem Ajax*@
@using (Ajax.BeginForm("KQTimKiemPartial", "TimKiem", new AjaxOptions { UpdateTargetId = "KQTimKiem", InsertionMode = InsertionMode.Replace }))
{
    <div class="search">
        <input style="width: 100px;" type="text" id="txtTimKiem" value="" name="sTuKhoa" placeholder="Search..." />
        <input type="submit" id="btnTimKiem" value="Tìm kiếm" />
    </div>
}


    <div id="KQTimKiem">
        <div class="col-md-9 product1">
            <div class="bottom-product">
                @foreach (var item in Model.OrderBy(n => n.DonGia))
                {
                    <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                        <div class="product-at ">
                            <a href="single.html">
                                <img class="img-responsive" src="@Url.Content("~/Content/images/"+ item.HinhAnh)" alt="" style="width: 150px; height: 150px">
                                <div class="pro-grid">
                                    <span class="buy-in">Đặt Mua</span>
                                </div>
                            </a>
                        </div>
                        <p class="tun">@item.TenSP</p>
                        @*The a nut them*@
                        <a href="@Url.Action("ThemGioHang","GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString()})" class="item_add"><p class="number item_price"><i> </i>@item.DonGia.Value.ToString("#,##")</p></a>
                    </div>
                    }


                <div class="clearfix"> </div>

            </div>

        </div>
        <div class="dlink">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
        </div>
    </div>
<style>
    #btnTimKiem{
        background-color: #4cae4c;
        color: #fff;
        padding: 0;
        font-size: 1.1em;
        font-weight: 600;
        margin-right: 0;
        border-radius: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 204px;
        padding: 3px;

        
    }
    #txtTimKiem{
        width: 200px;
        border: 1px solid #000;
    }
</style>
