
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<style>
    .list_of_members {
        display:none;
    }
</style>
<br />
<div class="list_of_members1">
    <div class="sales">
        <div class="icon">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            @{decimal TongDoanhThu = (ViewBag.TongDoanhThu);}
            <h3>@TongDoanhThu.ToString("#,##")</h3>
            <p>Tổng doanh thu</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TongThanhVien</h3>
            <p>Số lượng thành viên</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TongDonDatHang</h3>
            <p>Tổng số đơn đặt hàng</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.SoNguoiTruyCap</h3>
            <p>Số người truy cập</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.SoNguoiDangOnline</h3>
            <p>Số người đang online</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

