@model IEnumerable<WedSiteBanHang.Models.KhachHang>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table border="1">
            <tr>
                <td>Mã khách hàng</td>
                <td>Tên khách hàng</td>
                <td>Địa chỉ</td>
                <td>Email</td>
                <td>Số điện thoại</td>
            </tr>
                @*Chạy vòng lặp lấy ra các đối tượng từ list model*@
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.MaKH</td>
                        <td>@item.TenKH</td>
                        <td>@item.DiaChi</td>
                        <td>@item.Email</td>
                        <td>@item.SoDienThoai</td>
                    </tr>
                }
         
        </table>
        
    </div>
</body>
</html>
